  a#account-nav {
    color: #FFF !important;
  }

  #cloud-key {
    word-wrap: break-word;
    margin: 10px 0 0 0;
    font-size: 23px;
    background-color:#EEE;
  }

  #accordion-1 {
    margin-top: 20px;
  }

  .account-container-block.ui-accordion-content {
    padding: 0px 15px 15px 15px !important;
  }
  .ui-accordion-header-icon.ui-icon {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
    margin-right: 10px;
  }
  h3.account-container-head {
    margin: 5px 0 5px 0 !important;
  }


  .account-header {
    width: 100%;
    text-align: center;
    font-size: 36px;
  }

  .account-container {
    margin-top: 20px;
    border: 1px solid #000;
    background-color: #DDD;
    box-shadow: 0 0 20px rgb(0 0 0 / 40%);
  }

  .account-container-head {
    background-color: #EEE;
    padding: 15px;
    font-weight: bold;
    
  }

  .account-info {
    margin-top: 15px;
    font-size: 24px;
  }

  .account-container-block {
    padding: 0px 15px 15px 15px;
  }
  
  .account-container-help {
    font-style: italic;
    margin: 10px 0px 0px 15px;
    color: #080;
  }

  .account-form {
    padding: 10px 20px 10px 20px;
    margin-block-end: 0;
  }
  
  /* Full-width inputs */
  .account-form input[type=text], .account-form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #222;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .account-form button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  

  @media screen and (max-device-width: 600px) {
    .account-header {
      font-size: 48px;
      padding-top: 30px;
    }
    .account-container-head {
      font-size: 36px;
    }
    .account-container-block {
      font-size: 32px;
    }
    .account-form input[type=text], .account-form input[type=password], .account-form button {
      font-size: 36px;
      margin-bottom:24px;
      height: 90px;
    }
    .account-form button.account-submit {
      height: 88px;
      font-size: 36px;
    }
    .account-form label {
      font-size: 36px;
    }
    .account-info {
      font-size: 28px;
    }
  }
  
