.free-miner-info-container {
    display: inline-block;
    margin: 15px;
  }

  .coming-soon-container {
    float: left;
    height: auto;
    text-align: left;
    margin: 0px 15px 0px 15px;
  }
  .free-app-info {
    padding: 0px;
    width: 660px;
    float: right;
    text-align: left;
    margin-left: 15px;
  }
  .free-app-screenshot {
    width: 285px;
    float: left;
    height: auto;
    border: 2px solid;
  }


  @media screen and (max-device-width: 600px) {
    
    .coming-soon-container {
      font-size: 13px;
      margin: 0px 30px 0px 30px;
    }
    .free-app-info {
      width: 635px;
      font-size: 24px;
    }
  }
