  body {
    background-color: #000000;
    background-image: linear-gradient(315deg, #999 0%, #CfDcDd 74%);
    margin: 0;
    font-family: source sans pro,arial,sans-serif;
    background-attachment: fixed;
  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  .table-button {
    background-color: #A33;
    border: 1px solid black;
    cursor: pointer;
  }

  .styled-table tbody tr.warn {
    background-color: #911 !important
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .styled-table tbody tr:nth-of-type(odd) {
    background-color: #c3c3d3;
  }


  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    background-color: #AAC;
    font-weight: bold;
  }

  .uptime {
    left: 8;
    top: 8;
    position:absolute;
    margin-top:10px;
    margin-left: 10px;
  }

  .refresh-countdown {
    right: 8;
    top: 8;
    position: absolute;
    margin-top:10px;
    margin-right: 10px;
  }
  .version-string {
    font-size: 1vw;
  }

  hr {
    background-color: #444;
    height: 1px;
    border: none;
  }

  #hamburger {
    position: fixed;
    top: 10px;
    left: 20px;
    display: none;
  }

  .close_hamburger {
    display: none;
  }

  #sidenav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #CCC;
    height: calc(100vh - 77px);
    width: 180px;
    z-index: 10;
    border-right: 1px solid black;
    list-style-type: none;
    font-size: 20px;
    line-height: 42px;
  }
  #sidenav > ul.nav {
    padding-left: 20px;
  }
  #sidenav > ul.nav > li {
      list-style-type: none;
  }

  #sidenav > ul.nav > li > a {
    text-decoration: none;
    color: #224;
  }
  #sidenav > ul.nav > li > a:hover {
    text-decoration: none;
    color: #448;
  }

  div.error {
    color: #611;
    font-style: italic;
  }


  .footer {
    font-size: 22px;
    margin-top: 25px;
    width:100%;
    position:fixed;
    bottom:0;
    padding-bottom:12px;
    padding-top:12px;
    left:0;
    background-color: #AAA;
    border-top: 1px solid #777;
    text-align: center;
    z-index: 12;
  }

  .page-title {
    font-weight: normal;
      font-size: 26px;
  }
  .page-header {
    text-align: center;
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #9bA4A7 0%, #CbD3Da 74%);
    height: 65px;
    border-bottom: 1px solid #777;
    position: fixed;
    width: 100%;
    top: 0;
    -moz-box-shadow: 3px 3px 5px 6px #555;
    -webkit-box-shadow: 3px 3px 5px 6px #555;
    box-shadow: 3px 3px 5px 6px #555;
  }
  .page-container {
    margin-left: 200px;
    margin-right: auto;
    width: calc(100% - 220px);
    min-width: 1015px;
    margin-top: 100px;
    font-size: 22px;
    line-height: 30px;
    padding-bottom:475px;
  }

  @media screen and (min-device-width: 600px) {
    .hidden-pc {
      display: none;
    }
  }

  @media screen and (max-device-width: 600px) {
    div.error {
      font-size: 36px;
      margin-left: 20px;
      font-style: italic;
    }

    .page-header {
      height: 96px;
    }
    #hamburger {
      display: block;
      width: 78px;
    }
    .close_hamburger {
      display: none;
      z-index: 5;
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 100vh;
      background-color: rgba(0,0,0,.25);    }


    .uptime {
      font-size: 2.2vw;
    }
    .refresh-countdown {
      font-size: 2.2vw;
    }

    .version-string {
      font-size: 2.2vw;
    }
    .lb-data .lb-close {
        height: 48px !important;
        width: 48px !important;
        background-size: contain !important;
        position: fixed !important;
        top: 4px !important;
        right: 4px !important;
      }


      #sidenav {
        width: 50%;
        font-size: 56px;
        line-height: 112px;
        left: -50%;
      }
      .page-container {
        line-height: 40px;
        min-width:200px;
        width: calc(100% - 40px);
        height: auto;
        margin-left: auto;
      }

      .hidden-mobile {
        display: none;
      }

      .body {
        width: 100%;
      }
      .footer {
        font-size: 26px;
      }

      .page-title {
        font-size: 46px;
        margin-top: 22px;
      }
      .page-subtitle {
        margin-top: 5px;
        font-size: 4vw;
      }
      .styled-table {
        min-width: 90%;
        font-size: 3vw;
      }

  }
