a#stats-nav {
  color: #FFF !important;
}

h4.mining-addresses {
  margin-bottom: 10px;
  width: 900px;
  overflow-wrap: break-word;
  font-size: 18px;
}

.page-container.stats {
  padding-bottom: 125px;
  margin-top: 125px;
}

.wallet-info {
    font-size: 2vw;
    white-space: pre;
}
.late-miner-info {
  color: red;
}
.miners-container {
    margin-top: 90px;
  }
  .note {
    text-align: center;
  }

  @media screen and (max-device-width: 600px) {

    h4.mining-addresses {
      font-size: 15px;
    }

    .hidden-mobile {
      display: none;
    }
    .body {
      width: 100%;
    }
    .note {
      font-size: 2.3vw;
    }
    .styled-table {
      min-width: 90%;
      font-size: 3vw;
    }
    .page-subtitle {
      margin-top: 5px;
      font-size: 4vw;
    }
    .wallet-info {
      font-size: 2.5vw;
    }
    .wallet-balance {
      font-size: 3vw;
    }
  }



  @media screen and (min-device-width: 600px) {
    .wallet-info {
      font-size: 2.5vw;
    }
    .wallet-balance {
      font-size: 3vw;
    }
    .note {
      font-size: 18px;
    }

  }

