a#wrapminer-nav {
    color: #FFF !important;
}

div#changelog {
  border: 1px solid black;
  font-size: 14px;
  padding: 16px;
  margin: 14px;
  background-color: #DDD
}

  .wrapminer-info {
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 36px;
  }


@media screen and (max-device-width: 600px) {
  .wrapminer-info {
    font-size: 24px;
    line-height: 36px;
  }
}