<html>
    <head>
        {{template "sitehead" .}}
        <link href="/static/css/account.css" rel="stylesheet" />
    </head>
    <body data-Timer="{{.AutoRefresh}}">
        {{template "header" .}}

        {{template "sidenav" .}}

        <div class="page-container">
            <div class="account-header">My Account</div>

            <div class="account-container">
                <div class="account-container-head">Account Information</div>
                <div class="account-container-block">
                    <div class="account-info"><b>User Name:</b> {{ .UserName }}</div>
                    <div class="account-info"><b>Cloud Key:</b> <span id="cloud-key">{{ .CloudKey }}</span></div>
                </div>
                
            </div>

            <div class="account-container">
                <div class="account-container-head">Password</div>
                <div class="account-container-block">
                    <form action="/changepass" method="post" class="account-form">
                        <label for="psw">Old Password</label>
                        <input type="password" placeholder="" name="psw" required>

                        <label for="newpsw">New Password</label>
                        <input type="password" placeholder="" name="newpsw" required>

                        <label for="confirmnewpsw">Confirm New Password</label>
                        <input type="password" placeholder="" name="confirmnewpsw" required>

                        <button type="submit">Change Password</button>
                    </form>
                </div>
            </div>
            {{if .Errors }}
            {{range $idx, $error := .Errors}}
            <div class="error">{{$error}}</div>
            {{end}}
            {{end}}

        </div>

        {{template "footer" .}}
      
    </body>
  </html>

