<html>
    <head>
    {{template "sitehead" .}}
    <link href="/static/css/account.css" rel="stylesheet" />
    </head>
    <body data-Timer="{{.AutoRefresh}}">
        {{template "header" .}}

        {{template "sidenav" .}}

        <div class="page-container">
            <br />
            <br />
            <center><h1>My Account</h1></center>
            <div class="userinfo-container">
                <h4>User Information</h4>
                <div class="userinfo">
                    <div id="username"><b>User Name:</b> {{ .UserName }}</div>
                    <div id="cloudkey"><b>Cloud Key:</b> {{ .CloudKey }}</div>
                </div>
            </div>
            <div class="container">
                <h4>Change Password</h4>
                <form action="/changepass" method="post">
  
                <label for="psw"><b>Old Password</b></label>
                <input type="password" placeholder="Old Password" name="psw" required>
  
                <label for="newpsw"><b>New Password</b></label>
                <input type="password" placeholder="New Password" name="newpsw" required>

                <label for="confirmnewpsw"><b>Confirm New Password</b></label>
                <input type="password" placeholder="Confirm New Password" name="confirmnewpsw" required>
                
                <button type="submit">Submit</button>
              </form>
              </div>
              {{if .Errors }}
              {{range $idx, $error := .Errors}}
              <div class="error">{{$error}}</div>
              {{end}}
              {{end}}
        
        </div>
        

        {{template "footer" .}}
      
    </body>
  </html>

