<html>
    <head>
        {{template "sitehead" .}}
        <link href="/static/css/jquery-ui.css" rel="stylesheet" />
        <link href="/static/css/admin.css" rel="stylesheet" />
        <script>
            $(function() {
               $( "#accordion-1" ).accordion({
               collapsible: true,
               heightStyle: 'content'
            });
            });
         </script>
    </head>
    <body>
        {{template "header" .}}

        {{template "sidenav" .}}

        <div class="page-container">

            <table class="styled-table" style="margin-left:auto; margin-right:auto;">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Last Active</th>
                    <th>Active Miners</th>
                    <th>Total Hashrate</th>
                    <th>Est Coins Today</th>
                    <th>Win Percent</th>
                    <th>Est Hash</th>
                  </tr>
                </thead>
                <tbody>
                  {{range $idx, $user := .UserList}}
                  <tr>
                    <td>{{$user.ID}}</td>
                    <td>{{$user.UserName}}</td>
                    <td>{{$user.LastActive}}</td>
                    <td>{{$user.TotalActiveMiners}}</td>
                    <td>{{$user.CurrentHash}}</td>
                    <td>{{$user.ProjectedCoinsToday}}</td>
                    <td>{{$user.WinPercent}}</td>
                    <td>{{$user.EstHash}}</td>

                  </tr>
                  {{end}}
                  <tr>
                    <td colspan="8"></td>
                  </tr>
                </tbody>
                </table>


        </div>

        {{template "footer" .}}
      
    </body>
  </html>

