    <html>
      <head>
      {{template "sitehead" .}}
      <link href="/static/css/landing.css" rel="stylesheet" />
      </head>
      <body data-Timer="{{.AutoRefresh}}">
          {{template "header" .}}

          {{template "sidenav" .}}

          <div class="page-container">
            <div class="free-miner-info-container">
              <a href="/static/img/free-app-screenshot.png" data-lightbox="free-app-screenshot">
                <img class="free-app-screenshot" src="/static/img/free-app-screenshot.png" alt="Screenshot of free DMO Monitor">
              </a>
              <div class="free-app-info">
                <center><h3>DMO Monitor Free</h3></center>
                The always free-to-use DMO Monitor is run as a local application and provides the following
                functionality for <a href="http://dynamocoin.org">Dynamo</a> mining:
                <ul>
                  <li>Monitoring of your miners and their hashrates</li>
                  <li>Notifications if a miner goes offline, via Telegram</li>
                  <li>Display of mining statistics such as coins per day, coins per hour</li>
                  <li>Native apps for both Windows and Linux</li>
                </ul>
                <center><a href="https://github.com/dialmaster/dmo-monitor-binaries">Get the free app now</a></center>
              </div>
            </div>

            <hr>

            <div class="coming-soon-container">
              <center><h3>Coming Soon</h3>
              <h4>Dynamo Full Mining Management System</h4>
              </center>
              The new version, in development now, will include all the free features above. It will also work in concert with a mining wrapper utility that will make running your miners easier. 
              Using the wrapper program, you will be able to manage the following via a web management console:
              <ul>
                <li>Your miner configurations</li>
                <li>Starting, stopping, or restarting your miners</li>
                <li>Deploying new versions of the DynMiner executable and .cl</li>
              </ul>
            </div>
          </div>


          {{template "footer" .}}
        <script src="/static/js/lightbox-plus-jquery.min.js"></script>
      </body>
    </html>

