    <html>
      <head>
      {{template "sitehead" .}}
      <link href="/static/css/login.css" rel="stylesheet" />
      </head>
      <body>
          {{template "header" .}}

          {{template "sidenav" .}}

          <div class="page-container">
            {{if .Guest}}

            <div class="login-form container">
              <h3>Login</h3>
              <form action="/login" method="post">

              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required autocomplete="current-password" id="current-password">

              <button type="submit" class="login-button">Login</button>
            </form>
            </div>

            <div class="register-form container">
              <h3>Register New User</h3>
              <form action="/register" method="post">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
  
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <button type="submit" class="login-button">Create Account</button>
              </form>
  
            </div>
            {{else}}

              <span>Hey you're already logged in silly</span>

            {{end}}

            {{if .Errors }}
            {{range $idx, $error := .Errors}}
            <div class="error">{{$error}}</div>
            {{end}}

            {{end}}

          </div>


          {{template "footer" .}}
        
      </body>
    </html>

