{{define "sitehead"}}
    <script src="/static/js/lightbox-plus-jquery.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>

    {{if .AutoRefresh}} <meta http-equiv="refresh" content="{{.AutoRefresh}}" />{{end}}
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="512x512"  href="static/img/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link href="/static/css/lightbox.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <meta name="mobile-web-app-capable" content="yes">
    <script src="static/js/app.js"></script>
    <title>DMO-Monitor</title>
{{end}}