    <html>
      <head>
        {{template "sitehead" .}}
        <link href="/static/css/stats.css" rel="stylesheet" />
      </head>
      
      <body data-Timer="{{.AutoRefresh}}">
        {{template "header" .}}

        {{template "sidenav" .}}

        <div class="page-container stats">
          <center>
          <div class="miners-container">
            <table class="styled-table" style="margin-bottom: 0; max-width: 800px;">
            <thead>
              <tr>
                <th>Miner</th>
                <th>Hash</th>
                <th>Uptime</th>
                <th><span class="hidden-mobile">Submitted</span><span class="hidden-pc">S</span></th>
                <th><span class="hidden-mobile">Accepted</span><span class="hidden-pc">A</span></th>
                <th><span class="hidden-mobile">Rejected</span><span class="hidden-pc">R</span></th>
                <th><span class="hidden-mobile">Diff</span><span class="hidden-pc">D</span></th>
              </tr>
            </thead>
            <tbody>
              {{range $name, $stats := .MinerList}}
              <tr {{if $stats.Late}}class="warn"{{end}}>
                <td>{{$stats.Name}}{{if $stats.Late}} - OFFLINE{{end}}</td>
                <td>{{$stats.HashrateStr}}</td>
                <td>{{if $stats.Late}}-{{$stats.HowLate}}{{else}}{{$stats.UptimeDuration}}{{end}}</td>
                {{if $stats.Late}}
                <td colspan="4" class="table-button" onclick="minerOnClick('{{$name}}')">REMOVE MINER</td>
                {{else}}
                <td>{{$stats.Submit}}</td>
                <td>{{$stats.Accept}}</td>
                <td>{{$stats.Reject}}</td>
                <td>{{if $stats.Diff }}{{$stats.Diff}}{{else}}NA{{end}}</td>
                {{end}}
              </tr>
              {{end}}
              <tr style="display:none"><td colspan="7"></td></tr>
            </tbody>
            
            </table>

            <table class="styled-table" style="margin-top: 0">
            <tbody>
              <tr>
              <td colspan="2">Total Hashrate:</td>
              <td colspan="1">{{.Totalhash}}</td>
              <td></td>
              <td>Active Miners:</td>
              <td colspan="2">{{.Totalminers}}</td>
            </tr>
            </tbody>
            </table>
          </div>


          {{if .NetHash}}
          <hr>
          <h4 style="margin-bottom:10px">Mining Stats for Address: {{ .MiningAddr }}</h4>
          <h5 style="margin:0">Times and dates currently displayed in UTC timezone</h5>
          <div class="mining-stats-container">
            <table class="styled-table">
              <thead>
                <tr>
                  <th colspan="2">Mining Stats</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Current Nethash
                  </td>
                  <td>
                    {{.NetHash}}
                  </td>
                </tr>

                <tr>
                  <td>
                    Current Price of DMO from CoinGecko
                  </td>
                  <td>
                    ${{printf "%.2f" .CurrentPrice}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Dollars Per Day
                  </td>
                  <td>
                    ${{printf "%.2f" .DollarsPerDay}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Dollars Per Week
                  </td>
                  <td>
                    ${{printf "%.2f" .DollarsPerWeek}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Dollars Per Month
                  </td>
                  <td>
                    ${{printf "%.2f" .DollarsPerMonth}}
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="note">Based on current CoinGecko prices and the # of coins mined yesterday</td>
                </tr>
              </tbody>
              </table>
  
          </div>


          
          <div class="wallet-overall-stats-container">
            <table class="styled-table">
            <thead>
              <tr>
                <th colspan="2">Mining Address Coin Overview</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Daily Average DMO</td>
                <td>{{printf "%.2f" .WalletOverallStats.DailyAverage}}</td>
              </tr>
              <tr>
                <td>Hourly Average DMO</td>
                <td>{{printf "%.2f" .WalletOverallStats.HourlyAverage}}</td>
              </tr>
              <tr>
                <td>Average Block Win Percent</td>
                <td>{{printf "%.2f" .WalletOverallStats.WinPercent}}</td>
              </tr>
              <tr>
                <td>Projected Coins for Today</td>
                <td>{{.WalletOverallStats.Projection}}</td>
              </tr>
              <tr>
                <td colspan="2" class="note">Averages based on last {{.DailyStatDays}} days</td>
              </tr>

            </tbody>
            </table>

          </div>

          
          <div class="wallet-daily-stats-container">
            <table class="styled-table">
            <thead>
              <tr>
                <th colspan="4">Coins - Last {{.DailyStatDays}} Days Stats</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td><b>Day</b></td>
                <td><b>Coins</b></td>
                <td><b>Coins/Hour</b></td>
                <td><b>Win Percent</b></td>
              </tr>
              
              {{range $idx, $stats := .WalletDailyStats}}
              <tr>
                <td>{{$stats.Day}}</td>
                <td>{{printf "%.2f" $stats.CoinCount}}</td>
                <td>{{printf "%.2f" $stats.CoinsPerHour}}</td>
                <td>{{printf "%.2f" $stats.WinPercent}}</td>
              </tr>
              {{end}}
              <tr><td colspan="4" class="note">Win percentages are your percentage of all coins mined on the network.</td></tr>

            </tbody>
            </table>
            
          </div>


          <div class="wallet-hourly-stats-container">
            <table class="styled-table">
            <thead>
              <tr>
                <th colspan="3">Coins - Todays Hourly Stats</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td><b>Hour</b></td>
                <td><b>Coins</b></td>
                <td><b>Coins/Minute</b></td>
              </tr>
              
              {{range $idx, $stats := .WalletHourlyStats}}
              <tr>
                <td>{{$stats.Hour}}</td>
                <td>{{printf "%.2f" $stats.CoinCount}}</td>
                <td>{{printf "%.2f" $stats.CoinsPerMinute}}</td>
              </tr>
              {{end}}
              <tr><td colspan="3"></td></tr>

            </tbody>
            </table>

          </div>
          {{else}}
          <div class="note"> Mining statistics are not available unless you provide at least one receiving address to track stats on.</div>
          {{end}}

        </div>
      </center>
      {{template "footer" .}}
      </body>
    </html>

