<html>
    <head>
        {{template "sitehead" .}}
        <link href="/static/css/jquery-ui.css" rel="stylesheet" />
        <link href="/static/css/wrapminer.css" rel="stylesheet" />
        <script>
            $(function() {
               $( "#accordion-1" ).accordion({
               collapsible: true,
               heightStyle: 'content'
            });
            });
         </script>
    </head>
    <body data-Timer="{{.AutoRefresh}}">
        {{template "header" .}}

        {{template "sidenav" .}}

        <div class="page-container">
            
            <div class="wrapminer-info">
            <br /><br />

            Once you have created an account, you will need to run your miners using dmo-wrapminer in order to take advantage of the monitoring capabilities.
            <br /><br />
            Linux binary available <a href="/static/dmo-wrapminer/linux/dmo-wrapminer.tar.gz">HERE</a>.
            <br />
            Windows binary available <a href="/static/dmo-wrapminer/windows/dmowrapminer.zip">HERE</a>.
            <br /><br />
            After you download this: <br />
            1) Extract it into the same directory with your DynMiner executable.<br />
            2) Update the .yaml configuration file that comes with it.<br />
            3) Run it:<br />
            <b><pre>dmo-wrapminer myconfig.yaml</pre></b>

            <br />
            This mining wrapper:<br />
            1) Acts as an intermediary between your miner and dmo-monitor.com.<br />
            2) Makes running your miner more reliable by auto- restarting if it dies.<br />
            3) Allows you to specify a time interval to restart your miner.<br />
            4) Manages your miner settings in an easy to edit config file.<br />
            <br />

            In the future, this wrapper will also be what allows you to automatically make updates to your miner configurations, restart your miner
            remotely, and deploy new versions of DynMiner directly from this site.
            </div>
        </div>

        {{template "footer" .}}
      
    </body>
  </html>

