<html>
    <head>
        {{template "sitehead" .}}
        <link href="/static/css/jquery-ui.css" rel="stylesheet" />
        <link href="/static/css/wrapminer.css" rel="stylesheet" />
        <script>
            $(function() {
               $( "#accordion-1" ).accordion({
               collapsible: true,
               heightStyle: 'content'
            });
            });
         </script>
    </head>
    <body data-Timer="{{.AutoRefresh}}">
        {{template "header" .}}

        {{template "sidenav" .}}

        <div class="page-container">
            
            <div class="wrapminer-info">
            <br /><br />

            <i>Once you create an account, you will need to run your miners with dmo-wrapminer to take advantage of the miner monitoring.</i>
            <br /><br />
            Linux binary available <a href="/static/dmo-wrapminer/linux/dmo-wrapminer.tar.gz">HERE</a>.
            <br />
            Windows binary available <a href="/static/dmo-wrapminer/windows/dmowrapminer.zip">HERE</a>.
            <br /><br />
            <u>What it does:</u>
            <ul>
            <li>Acts as an intermediary between your miner and dmo-monitor.com.</li>
            <li>Makes running your miner more reliable by auto- restarting if it dies.</li>
            <li>Allows you to specify a time interval to restart your miner.</li>
            <li>Manages your miner settings in an easy to edit config file.</li>
            </ul>

            <br />
            <u>How to use it:</u>
            <ul>
            <li>Extract it into the same directory with your DynMiner executable</li>   
            <li>Update the .yaml configuration file that comes with it.</li>    
            <li>Run it: <b>dmo-wrapminer myconfig.yaml</b></li>
            </ul>
            <br />

            After the beta, this wrapper will be what allows you to remotely update your miner configurations, restart your miner, 
            and deploy new versions of DynMiner directly from this site.
            <br />
            <br />
            </div>
        </div>

        {{template "footer" .}}
      
    </body>
  </html>

